.form {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 5px;
}

.inputfield {
  background-color: lightgrey;
  border-radius: 25px;
  border: none;
  box-shadow: 5px 5px 10px black;
  grid-column: 1 / 5;
  text-align: right;
  font-size: 16pt;
  padding: 15px;
  margin-bottom: 50px;
}

.btn {
  color: white;
  box-shadow: 2px 2px 5px black;
  margin: 2px;
}

.btn_ce {
  color: white;
  background-color: red;
  border-radius: 25px;
  border: none;
}

.btn_op {
  background-color: #f56e00;
}
